@import "tailwindcss";

html {
    scroll-behavior: smooth;
  }
  
  html, body {
  margin: 0;
  padding: 0;
}

.adjust{
  border: 1px solid red;
  width:320px;
}

.adjust2{
   border: 1px solid red;
}