.scroll-container {
  overflow: hidden;
  width: 100%;
}

.scroll-items {
  display: flex;
  flex-wrap: nowrap; 
  width: max-content;
  animation: scroll 30s linear infinite;
}

.skill-img {
  width: 160px;
  height: 160px;
  margin: 0 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%); 
  }
}



