.scroll-container,
.scroll-container-2 {
  overflow: hidden;
  width: 100%;
}


.scroll-items {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  animation: scroll-3-left 30s linear infinite;
}

.scroll-items-2 {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  animation: scroll-3_left 30s linear infinite reverse; 
}


.skill-img {
  width: 100px;    
  height: 100px;
  margin: 0 20px;
  object-fit: contain;
}




@keyframes scroll-3-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

@keyframes scroll-3_left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}


